<aside class="main-sidebar"> 
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      
      <li class="treeview">
        <a href="#">
          <i class="fa fa-edit"></i> <span>Usuários</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> Lista</a></li>
          <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Novo Usuário</a></li>
        </ul>
      </li>
      <li class="treeview">
          <a href="#">
            <i class="fa fa-edit"></i> <span>Chamado</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> Lista</a></li>
            <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Novo Chamado</a></li>
          </ul>
        </li>
        <li class="treeview">
            <a href="#">
              <i class="fa fa-edit"></i> <span>Resumo</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> Examinar</a></li>
            </ul>
          </li>

    </ul> 
  </section>
</aside>